


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."app_role" AS ENUM (
    'admin',
    'provider',
    'client'
);


ALTER TYPE "public"."app_role" OWNER TO "postgres";


CREATE TYPE "public"."conversation_status" AS ENUM (
    'open',
    'closed',
    'resolved'
);


ALTER TYPE "public"."conversation_status" OWNER TO "postgres";


CREATE TYPE "public"."conversation_type" AS ENUM (
    'support',
    'client',
    'system'
);


ALTER TYPE "public"."conversation_type" OWNER TO "postgres";


CREATE TYPE "public"."event_type" AS ENUM (
    'profile_view',
    'service_view',
    'contact_whatsapp',
    'contact_viber',
    'contact_phone',
    'social_click'
);


ALTER TYPE "public"."event_type" OWNER TO "postgres";


CREATE TYPE "public"."inclusion_type" AS ENUM (
    'included',
    'optional',
    'excluded'
);


ALTER TYPE "public"."inclusion_type" OWNER TO "postgres";


CREATE TYPE "public"."service_price_unit" AS ENUM (
    'per_event',
    'per_hour',
    'per_day',
    'per_person',
    'fixed'
);


ALTER TYPE "public"."service_price_unit" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."approve_provider_changes"("target_provider_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    pending_data JSONB;
BEGIN
    -- Check Admin
    IF NOT public.is_admin() THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    -- Get pending changes
    SELECT pending_changes INTO pending_data 
    FROM public.providers 
    WHERE id = target_provider_id;

    IF pending_data IS NULL THEN
        RAISE EXCEPTION 'No pending changes found';
    END IF;

    -- Apply changes
    -- We use COALESCE to keep existing values if keys are missing in JSON (though usually it's a full object)
    -- JSONB_POPULATE_RECORD is cleaner but risky if schema mismatches.
    -- Manual update is safer for specific allowed fields.
    
    UPDATE public.providers
    SET
        commercial_name = COALESCE((pending_data->>'commercial_name'), commercial_name),
        bio = COALESCE((pending_data->>'bio'), bio),
        profile_picture_url = COALESCE((pending_data->>'profile_picture_url'), profile_picture_url),
        phone_number = COALESCE((pending_data->>'phone_number'), phone_number),
        wilaya_id = COALESCE((pending_data->>'wilaya_id')::UUID, wilaya_id),
        commune_id = COALESCE((pending_data->>'commune_id')::UUID, commune_id),
        main_social_link = COALESCE((pending_data->>'main_social_link'), main_social_link),
        website_link = COALESCE((pending_data->>'website_link'), website_link),
        willingness_to_travel = COALESCE((pending_data->>'willingness_to_travel')::BOOLEAN, willingness_to_travel),
        is_whatsapp_active = COALESCE((pending_data->>'is_whatsapp_active')::BOOLEAN, is_whatsapp_active),
        
        -- Reset moderation state
        moderation_status = 'approved',
        pending_changes = NULL,
        updated_at = NOW()
    WHERE id = target_provider_id;

END;
$$;


ALTER FUNCTION "public"."approve_provider_changes"("target_provider_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."approve_service_changes"("target_service_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    pending_data JSONB;
BEGIN
    IF NOT public.is_admin() THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    SELECT pending_changes INTO pending_data 
    FROM public.services 
    WHERE id = target_service_id;

    IF pending_data IS NULL THEN
        RAISE EXCEPTION 'No pending changes found';
    END IF;

    UPDATE public.services
    SET
        title = COALESCE((pending_data->>'title'), title),
        description = COALESCE((pending_data->>'description'), description),
        base_price = COALESCE((pending_data->>'base_price')::DECIMAL, base_price),
        price_unit = COALESCE((pending_data->>'price_unit')::public.service_price_unit, price_unit),
        short_pitch = COALESCE((pending_data->>'short_pitch'), short_pitch),
        is_active = COALESCE((pending_data->>'is_active')::BOOLEAN, is_active),
        service_category_id = COALESCE((pending_data->>'service_category_id')::UUID, service_category_id),
        
        moderation_status = 'approved',
        pending_changes = NULL,
        updated_at = NOW()
    WHERE id = target_service_id;

END;
$$;


ALTER FUNCTION "public"."approve_service_changes"("target_service_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."calculate_profile_score"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    score INTEGER := 0;
    p_id UUID;
    p_row RECORD;
    has_services BOOLEAN;
    has_location BOOLEAN;
BEGIN
    -- Determine the provider ID based on the triggering table
    IF TG_TABLE_NAME = 'providers' THEN
        p_id := NEW.id;
    ELSE
        p_id := NEW.provider_id;
    END IF;

    -- Get the provider row
    SELECT * INTO p_row FROM public.providers WHERE id = p_id;
    
    -- Scoring Logic
    -- 1. Avatar (+20%)
    IF p_row.profile_picture_url IS NOT NULL AND p_row.profile_picture_url != '' THEN
        score := score + 20;
    END IF;

    -- 2. Commercial Name (+10%)
    IF p_row.commercial_name IS NOT NULL AND p_row.commercial_name != '' THEN
        score := score + 10;
    END IF;

    -- 3. Bio (+20%)
    IF p_row.bio IS NOT NULL AND p_row.bio != '' AND length(p_row.bio) > 10 THEN
        score := score + 20;
    END IF;

    -- 4. Phone (+15%)
    IF p_row.phone_number IS NOT NULL AND p_row.phone_number != '' THEN
        score := score + 15;
    END IF;

    -- 5. Services selected (+15%)
    SELECT EXISTS (SELECT 1 FROM public.provider_services WHERE provider_id = p_id) INTO has_services;
    IF has_services THEN
        score := score + 15;
    END IF;

    -- 6. Location Set (+10%)
    IF p_row.wilaya_id IS NOT NULL THEN
        score := score + 10;
    END IF;

    -- 7. Social Link (+10%)
    IF p_row.main_social_link IS NOT NULL AND p_row.main_social_link != '' THEN
        score := score + 10;
    END IF;

    -- Update the score in the providers table
    UPDATE public.providers SET profile_completion_score = score WHERE id = p_id;

    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."calculate_profile_score"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."check_user_exists"("email_to_check" "text") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 
    FROM public.users 
    WHERE email = email_to_check
  );
END;
$$;


ALTER FUNCTION "public"."check_user_exists"("email_to_check" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_partner_user"("email" "text", "password" "text", "full_name" "text") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
declare
  new_user_id uuid;
begin
  -- Validate
  if email is null or password is null then
    raise exception 'Email and Password are required';
  end if;

  -- Check if user exists
  select id into new_user_id from auth.users where auth.users.email = create_partner_user.email;
  if new_user_id is not null then
    raise exception 'User with this email already exists';
  end if;

  -- Generate ID
  new_user_id := gen_random_uuid();

  -- Insert into auth.users
  -- Minimal required fields for a working user
  insert into auth.users (
    instance_id,
    id,
    aud,
    role,
    email,
    encrypted_password,
    email_confirmed_at,
    raw_app_meta_data,
    raw_user_meta_data,
    created_at,
    updated_at,
    is_sso_user
  ) values (
    '00000000-0000-0000-0000-000000000000',
    new_user_id,
    'authenticated',
    'authenticated',
    email,
    crypt(password, gen_salt('bf')),
    now(), -- Auto-confirm since Admin created it
    '{"provider": "email", "providers": ["email"]}',
    jsonb_build_object('full_name', full_name, 'display_name', full_name),
    now(),
    now(),
    false
  );

  -- Insert into public.users (profile) if triggers don't catch it immediately
  -- Usually handle_new_user trigger does this, but for safety/speed return:
  return new_user_id;
end;
$$;


ALTER FUNCTION "public"."create_partner_user"("email" "text", "password" "text", "full_name" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."delete_conversation"("target_conversation_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    -- 1. Remove ONLY the requesting user from participants
    DELETE FROM public.conversation_participants 
    WHERE conversation_id = target_conversation_id 
    AND user_id = auth.uid();

    -- 2. Optional: If Admin, they might want to force delete?
    -- For now, let's keep it simple. If admin calls this, they just leave the chat too.
    -- If we really wanted a "Hard Delete", we'd need a separate Admin RPC.

    -- 3. Cleanup: If NO participants remain, delete the empty conversation row + messages
    -- (This prevents ghost data accumulation)
    IF NOT EXISTS (
        SELECT 1 FROM public.conversation_participants 
        WHERE conversation_id = target_conversation_id
    ) THEN
        DELETE FROM public.conversations WHERE id = target_conversation_id;
    END IF;
END;
$$;


ALTER FUNCTION "public"."delete_conversation"("target_conversation_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."delete_user_account"() RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
    -- Only allow the authenticated user to delete their own record
    -- auth.uid() returns the UUID of the user making the request
    DELETE FROM auth.users WHERE id = auth.uid();
END;
$$;


ALTER FUNCTION "public"."delete_user_account"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."delete_user_account"() IS 'Deletes the currently authenticated user from auth.users. trigger cascades to public tables.';



CREATE OR REPLACE FUNCTION "public"."fn_calculate_completion_score"("p_id" "uuid") RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    p_row RECORD;
BEGIN
    SELECT * INTO p_row FROM public.providers WHERE id = p_id;
    IF NOT FOUND THEN RETURN 0; END IF;

    RETURN public.fn_compute_score_from_data(
        p_row.profile_picture_url,
        p_row.commercial_name,
        p_row.bio,
        p_row.phone_number,
        p_row.wilaya_id,
        p_row.main_social_link,
        p_row.website_link,
        p_row.provider_type,
        p_row.years_of_experience,
        p_row.willingness_to_travel,
        p_id
    );
END;
$$;


ALTER FUNCTION "public"."fn_calculate_completion_score"("p_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_compute_score_from_data"("p_profile_picture_url" "text", "p_commercial_name" "text", "p_bio" "text", "p_phone_number" "text", "p_wilaya_id" "uuid", "p_main_social_link" "text", "p_website_link" "text", "p_provider_type" "text", "p_years_of_experience" integer, "p_willingness_to_travel" boolean, "p_provider_id" "uuid") RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    score INTEGER := 0;
    has_services BOOLEAN;
    has_events BOOLEAN;
BEGIN
    -- 1. Mode de travail (Type) (+10%)
    IF p_provider_type IS NOT NULL AND p_provider_type != '' THEN
        score := score + 10;
    END IF;

    -- 2. Photo de profil (+10%)
    IF p_profile_picture_url IS NOT NULL AND p_profile_picture_url != '' THEN
        score := score + 10;
    END IF;

    -- 3. Nom Commercial (+10%)
    IF p_commercial_name IS NOT NULL AND p_commercial_name != '' AND p_commercial_name != 'Non renseign├®' THEN
        score := score + 10;
    END IF;

    -- 4. Exp├®rience (+10%)
    IF p_years_of_experience IS NOT NULL AND p_years_of_experience > 0 THEN
        score := score + 10;
    END IF;

    -- 5. T├®l├®phone (+10%)
    IF p_phone_number IS NOT NULL AND p_phone_number != '' THEN
        score := score + 10;
    END IF;

    -- 6. Bio >= 200 chars (+10%)
    IF p_bio IS NOT NULL AND length(p_bio) >= 200 THEN
        score := score + 10;
    END IF;

    -- 7. Lien social / Site (+10%)
    IF (p_main_social_link IS NOT NULL AND p_main_social_link != '') OR (p_website_link IS NOT NULL AND p_website_link != '') THEN
        score := score + 10;
    END IF;

    -- 8. Domaines d'expertises (+10%)
    SELECT EXISTS (SELECT 1 FROM public.provider_services WHERE provider_id = p_provider_id) INTO has_services;
    IF has_services THEN
        score := score + 10;
    END IF;

    -- 9. Types d'├®v├®nements (+10%)
    SELECT EXISTS (SELECT 1 FROM public.provider_events WHERE provider_id = p_provider_id) INTO has_events;
    IF has_events THEN
        score := score + 10;
    END IF;

    -- 10. Localisation (Wilaya) (+10%)
    IF p_wilaya_id IS NOT NULL THEN
        score := score + 10;
    END IF;

    RETURN score;
END;
$$;


ALTER FUNCTION "public"."fn_compute_score_from_data"("p_profile_picture_url" "text", "p_commercial_name" "text", "p_bio" "text", "p_phone_number" "text", "p_wilaya_id" "uuid", "p_main_social_link" "text", "p_website_link" "text", "p_provider_type" "text", "p_years_of_experience" integer, "p_willingness_to_travel" boolean, "p_provider_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_provider_slug"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  base_slug TEXT;
  final_slug TEXT;
  counter INTEGER := 1;
BEGIN
  -- Generate base slug from commercial_name
  base_slug := lower(regexp_replace(NEW.commercial_name, '[^a-zA-Z0-9]+', '-', 'g'));
  base_slug := trim(both '-' from base_slug);
  
  final_slug := base_slug;
  
  -- Handle duplicates
  WHILE EXISTS (SELECT 1 FROM public.providers WHERE slug = final_slug AND id != NEW.id) LOOP
    final_slug := base_slug || '-' || counter;
    counter := counter + 1;
  END LOOP;
  
  NEW.slug := final_slug;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."generate_provider_slug"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_admin_platform_stats"() RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
    total_providers_count INTEGER;
    pending_providers_count INTEGER;
    total_services_count INTEGER;
    total_leads_count INTEGER;
BEGIN
    -- Check if caller is admin
    IF NOT public.has_role(auth.uid(), 'admin') THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    -- 1. Total Providers (Users with role 'provider')
    SELECT COUNT(*) INTO total_providers_count 
    FROM public.users 
    WHERE role = 'provider';

    -- 2. Pending Validations (Providers table status)
    SELECT COUNT(*) INTO pending_providers_count 
    FROM public.providers 
    WHERE status = 'pending';

    -- 3. Total Services (Active)
    SELECT COUNT(*) INTO total_services_count 
    FROM public.services 
    WHERE is_active = true;

    -- 4. Total Leads (Analytics Events - clicks)
    -- Assuming 'contact_click' is the event type for leads
    SELECT COUNT(*) INTO total_leads_count 
    FROM public.analytics_events 
    WHERE event_type LIKE '%click%'; 

    RETURN json_build_object(
        'total_providers', total_providers_count,
        'pending_validations', pending_providers_count,
        'total_services', total_services_count,
        'total_leads_generated', total_leads_count
    );
END;
$$;


ALTER FUNCTION "public"."get_admin_platform_stats"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_dashboard_stats"("p_provider_id" "uuid", "p_days_ago" integer DEFAULT 30) RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    v_total_leads INTEGER;
    v_total_views INTEGER;
    v_conversion_rate NUMERIC;
    v_chart_data JSON;
    v_top_services JSON;
BEGIN
    -- 1. Total Leads (Contact actions)
    SELECT COUNT(*) INTO v_total_leads
    FROM public.analytics_events
    WHERE provider_id = p_provider_id
      AND event_type IN ('contact_whatsapp', 'contact_viber', 'contact_phone')
      AND created_at >= now() - (p_days_ago || ' days')::interval;

    -- 2. Total Views
    SELECT COUNT(*) INTO v_total_views
    FROM public.analytics_events
    WHERE provider_id = p_provider_id
      AND event_type IN ('profile_view', 'service_view')
      AND created_at >= now() - (p_days_ago || ' days')::interval;

    -- 3. Conversion Rate
    IF v_total_views > 0 THEN
        v_conversion_rate := ROUND((v_total_leads::NUMERIC / v_total_views::NUMERIC) * 100, 2);
    ELSE
        v_conversion_rate := 0;
    END IF;

    -- 4. Chart Data (Daily breakdown)
    WITH daily_stats AS (
        SELECT 
            date_trunc('day', created_at)::date as d,
            COUNT(*) FILTER (WHERE event_type IN ('profile_view', 'service_view')) as views,
            COUNT(*) FILTER (WHERE event_type IN ('contact_whatsapp', 'contact_viber', 'contact_phone')) as leads
        FROM public.analytics_events
        WHERE provider_id = p_provider_id
          AND created_at >= now() - (p_days_ago || ' days')::interval
        GROUP BY 1
        ORDER BY 1 ASC
    )
    SELECT json_agg(daily_stats) INTO v_chart_data FROM daily_stats;

    -- 5. Top Services
    WITH service_stats AS (
        SELECT 
            s.title,
            COUNT(*) as views
        FROM public.analytics_events ae
        JOIN public.services s ON ae.service_id = s.id
        WHERE ae.provider_id = p_provider_id
          AND ae.event_type = 'service_view'
          AND ae.created_at >= now() - (p_days_ago || ' days')::interval
        GROUP BY s.title
        ORDER BY views DESC
        LIMIT 5
    )
    SELECT json_agg(service_stats) INTO v_top_services FROM service_stats;

    RETURN json_build_object(
        'totalLeads', v_total_leads,
        'totalViews', v_total_views,
        'conversionRate', v_conversion_rate,
        'chartData', v_chart_data,
        'topServices', v_top_services
    );
END;
$$;


ALTER FUNCTION "public"."get_dashboard_stats"("p_provider_id" "uuid", "p_days_ago" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_provider_stats"("provider_uuid" "uuid") RETURNS json
    LANGUAGE "plpgsql" STABLE
    AS $$
DECLARE
    stats JSON;
BEGIN
    SELECT json_build_object(
        'total_bookings', COUNT(DISTINCT b.id),
        'completed_bookings', COUNT(DISTINCT b.id) FILTER (WHERE b.status = 'completed'),
        'average_rating', COALESCE(ROUND(AVG(r.rating)::numeric, 2), 0),
        'total_reviews', COUNT(DISTINCT r.id) FILTER (WHERE r.status = 'approved'),
        'response_rate', ROUND(
            COALESCE(
                (COUNT(DISTINCT b.id) FILTER (WHERE b.responded_at IS NOT NULL)::DECIMAL / 
                NULLIF(COUNT(DISTINCT b.id), 0) * 100),
                0
            ), 2
        )
    ) INTO stats
    FROM providers p
    LEFT JOIN bookings b ON p.id = b.provider_id
    LEFT JOIN reviews r ON p.id = r.provider_id
    WHERE p.id = provider_uuid
    GROUP BY p.id;
    
    RETURN COALESCE(stats, '{}'::json);
END;
$$;


ALTER FUNCTION "public"."get_provider_stats"("provider_uuid" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  INSERT INTO public.users (id, email, display_name, email_verified)
  VALUES (
    NEW.id, 
    NEW.email, 
    COALESCE(NEW.raw_user_meta_data->>'display_name', SPLIT_PART(NEW.email, '@', 1)),
    NEW.email_confirmed_at IS NOT NULL
  );
  
  -- Assign default 'client' role
  INSERT INTO public.user_roles (user_id, role)
  VALUES (NEW.id, 'client');
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_provider_upgrade"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Only attempt to upgrade role if user_id is NOT NULL
  IF NEW.user_id IS NOT NULL THEN
      INSERT INTO public.user_roles (user_id, role)
      VALUES (NEW.user_id, 'provider')
      ON CONFLICT (user_id, role) DO NOTHING;
  END IF;
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_provider_upgrade"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."has_role"("_user_id" "uuid", "_role" "public"."app_role") RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles
    WHERE user_id = _user_id
      AND role = _role
  )
$$;


ALTER FUNCTION "public"."has_role"("_user_id" "uuid", "_role" "public"."app_role") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.users 
    WHERE id = auth.uid() AND role = 'admin'
  );
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reject_provider_changes"("target_provider_id" "uuid", "reason" "text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    -- Check Admin
    IF NOT public.is_admin() THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    UPDATE public.providers
    SET
        moderation_status = 'rejected',
        admin_notes = reason,
        -- We KEEP pending_changes so the user can see what they submitted/edit it again?
        -- Or we clear it? Standard flow: Keep it or let user re-submit.
        -- Let's keep it but mark rejected so UI shows "Changes Rejected: [Reason]"
        updated_at = NOW()
    WHERE id = target_provider_id;

END;
$$;


ALTER FUNCTION "public"."reject_provider_changes"("target_provider_id" "uuid", "reason" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reject_service_changes"("target_service_id" "uuid", "reason" "text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Update the service status to rejected and record the reason
  -- We do NOT clear pending_changes so the provider can see what was rejected and edit it.
  UPDATE public.services
  SET 
    moderation_status = 'rejected',
    rejection_reason = reason,
    updated_at = NOW()
  WHERE id = target_service_id;
END;
$$;


ALTER FUNCTION "public"."reject_service_changes"("target_service_id" "uuid", "reason" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."search_providers"("search_query" "text", "filter_category" "text" DEFAULT NULL::"text", "filter_wilaya" "text" DEFAULT NULL::"text") RETURNS TABLE("id" "uuid", "business_name" character varying, "category" character varying, "wilaya" character varying, "rating" numeric, "review_count" integer, "verified" boolean, "featured" boolean)
    LANGUAGE "plpgsql" STABLE
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        p.id,
        p.business_name,
        p.category,
        p.wilaya,
        p.rating,
        p.review_count,
        p.verified,
        p.featured
    FROM providers p
    WHERE 
        p.status = 'active'
        AND (filter_category IS NULL OR p.category = filter_category)
        AND (filter_wilaya IS NULL OR p.wilaya = filter_wilaya)
        AND (
            search_query IS NULL OR
            p.business_name ILIKE '%' || search_query || '%' OR
            p.description ILIKE '%' || search_query || '%'
        )
    ORDER BY 
        p.featured DESC,
        p.rating DESC,
        p.review_count DESC;
END;
$$;


ALTER FUNCTION "public"."search_providers"("search_query" "text", "filter_category" "text", "filter_wilaya" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."start_support_conversation"("subject" "text" DEFAULT NULL::"text") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    existing_conv_id UUID;
    new_conv_id UUID;
BEGIN
    -- 1. Check if an OPEN support conversation already exists for the current user
    SELECT c.id INTO existing_conv_id
    FROM public.conversations c
    JOIN public.conversation_participants cp ON cp.conversation_id = c.id
    WHERE cp.user_id = auth.uid()
    AND c.type = 'support'
    AND c.status = 'open'
    LIMIT 1;

    -- 2. If found, return it immediately
    IF existing_conv_id IS NOT NULL THEN
        RETURN existing_conv_id;
    END IF;

    -- 3. If not found, create a new one
    INSERT INTO public.conversations (type, status)
    VALUES ('support', 'open')
    RETURNING id INTO new_conv_id;

    -- Add current user as participant
    INSERT INTO public.conversation_participants (conversation_id, user_id)
    VALUES (new_conv_id, auth.uid());

    RETURN new_conv_id;
END;
$$;


ALTER FUNCTION "public"."start_support_conversation"("subject" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."track_event"("p_provider_id" "uuid", "p_event_type" "public"."event_type", "p_service_id" "uuid" DEFAULT NULL::"uuid", "p_visitor_id" "text" DEFAULT NULL::"text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    INSERT INTO public.analytics_events (provider_id, event_type, service_id, visitor_id)
    VALUES (p_provider_id, p_event_type, p_service_id, p_visitor_id);
END;
$$;


ALTER FUNCTION "public"."track_event"("p_provider_id" "uuid", "p_event_type" "public"."event_type", "p_service_id" "uuid", "p_visitor_id" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trg_fn_junction_score_sync"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    target_provider_id UUID;
BEGIN
    IF (TG_OP = 'DELETE') THEN
        target_provider_id := OLD.provider_id;
    ELSE
        target_provider_id := NEW.provider_id;
    END IF;

    UPDATE public.providers 
    SET profile_completion_score = public.fn_calculate_completion_score(target_provider_id)
    WHERE id = target_provider_id;

    RETURN NULL;
END;
$$;


ALTER FUNCTION "public"."trg_fn_junction_score_sync"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trg_fn_sync_provider_score"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.profile_completion_score := public.fn_compute_score_from_data(
        NEW.profile_picture_url,
        NEW.commercial_name,
        NEW.bio,
        NEW.phone_number,
        NEW.wilaya_id,
        NEW.main_social_link,
        NEW.website_link,
        NEW.provider_type,
        NEW.years_of_experience,
        NEW.willingness_to_travel,
        NEW.id
    );
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trg_fn_sync_provider_score"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_conversation_timestamp"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    UPDATE public.conversations
    SET updated_at = now()
    WHERE id = NEW.conversation_id;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_conversation_timestamp"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_provider_rating"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    UPDATE providers
    SET 
        rating = (
            SELECT COALESCE(ROUND(AVG(rating)::numeric, 2), 0)
            FROM public.reviews
            WHERE provider_id = NEW.provider_id AND status = 'approved'
        ),
        review_count = (
            SELECT COUNT(*)
            FROM public.reviews
            WHERE provider_id = NEW.provider_id AND status = 'approved'
        )
    WHERE id = NEW.provider_id;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_provider_rating"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."analytics_events" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "provider_id" "uuid" NOT NULL,
    "event_type" "public"."event_type" NOT NULL,
    "service_id" "uuid",
    "visitor_id" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."analytics_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."blog_articles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "slug" character varying(255) NOT NULL,
    "title" character varying(500) NOT NULL,
    "category" character varying(50) NOT NULL,
    "read_time" character varying(20) NOT NULL,
    "image_url" "text" NOT NULL,
    "content" "text",
    "excerpt" "text",
    "author_name" character varying(255),
    "author_avatar" "text",
    "author_bio" "text",
    "tags" "text"[],
    "published_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "views" integer DEFAULT 0,
    "featured" boolean DEFAULT false,
    "status" character varying(20) DEFAULT 'draft'::character varying,
    CONSTRAINT "blog_articles_category_check" CHECK ((("category")::"text" = ANY ((ARRAY['tendances'::character varying, 'conseils'::character varying, 'inspiration'::character varying, 'g├óteaux'::character varying, 'budget'::character varying, 'organisation'::character varying, 'temoignages'::character varying])::"text"[]))),
    CONSTRAINT "blog_articles_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['draft'::character varying, 'published'::character varying, 'archived'::character varying])::"text"[])))
);


ALTER TABLE "public"."blog_articles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."bookings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "client_id" "uuid" NOT NULL,
    "provider_id" "uuid" NOT NULL,
    "event_type" character varying(50) NOT NULL,
    "event_date" timestamp with time zone NOT NULL,
    "wilaya" character varying(50) NOT NULL,
    "guest_count" integer,
    "budget_amount" integer,
    "budget_currency" character varying(10) DEFAULT 'DZD'::character varying,
    "message" "text",
    "status" character varying(20) DEFAULT 'pending'::character varying,
    "provider_response" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "responded_at" timestamp with time zone,
    CONSTRAINT "bookings_event_type_check" CHECK ((("event_type")::"text" = ANY ((ARRAY['mariage'::character varying, 'fiancailles'::character varying, 'anniversaire'::character varying, 'autre'::character varying])::"text"[]))),
    CONSTRAINT "bookings_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'contacted'::character varying, 'accepted'::character varying, 'declined'::character varying, 'completed'::character varying, 'cancelled'::character varying])::"text"[])))
);


ALTER TABLE "public"."bookings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."categories" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "slug" character varying(100) NOT NULL,
    "name" character varying(255) NOT NULL,
    "description" "text",
    "icon" character varying(50),
    "image_url" "text",
    "display_order" integer DEFAULT 0,
    "active" boolean DEFAULT true,
    "provider_count" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."categories" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."client_waitlist" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email" character varying(255) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."client_waitlist" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."communes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "wilaya_id" "uuid" NOT NULL,
    "name" character varying(255) NOT NULL,
    "slug" character varying(255) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."communes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."conversation_participants" (
    "conversation_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "last_read_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."conversation_participants" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."conversations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "type" "public"."conversation_type" DEFAULT 'client'::"public"."conversation_type" NOT NULL,
    "status" "public"."conversation_status" DEFAULT 'open'::"public"."conversation_status" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."conversations" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."event_types" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(100) NOT NULL,
    "label" character varying(255) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."event_types" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."messages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "conversation_id" "uuid",
    "sender_id" "uuid",
    "content" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "read_at" timestamp with time zone
);


ALTER TABLE "public"."messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."provider_events" (
    "provider_id" "uuid" NOT NULL,
    "event_type_id" "uuid" NOT NULL
);


ALTER TABLE "public"."provider_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."provider_services" (
    "provider_id" "uuid" NOT NULL,
    "category_id" "uuid" NOT NULL
);


ALTER TABLE "public"."provider_services" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."provider_travel_zones" (
    "provider_id" "uuid" NOT NULL,
    "wilaya_id" "uuid" NOT NULL
);


ALTER TABLE "public"."provider_travel_zones" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."provider_waitlist" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(255) NOT NULL,
    "email" character varying(255) NOT NULL,
    "category" character varying(50) NOT NULL,
    "wilaya" character varying(50) NOT NULL,
    "phone" character varying(20),
    "website" "text",
    "status" character varying(20) DEFAULT 'pending'::character varying,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "provider_waitlist_category_check" CHECK ((("category")::"text" = ANY ((ARRAY['photographe'::character varying, 'dj'::character varying, 'salle'::character varying, 'traiteur'::character varying, 'decoration'::character varying, 'patisserie'::character varying, 'coiffure'::character varying, 'location-voiture'::character varying, 'autre'::character varying])::"text"[]))),
    CONSTRAINT "provider_waitlist_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::"text"[])))
);


ALTER TABLE "public"."provider_waitlist" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."providers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "commercial_name" character varying(255) NOT NULL,
    "category" character varying(50),
    "subcategories" "text"[],
    "bio" "text" NOT NULL,
    "wilaya" character varying(50),
    "coverage_areas" "text"[],
    "rating" numeric(3,2) DEFAULT 0.00,
    "review_count" integer DEFAULT 0,
    "price_min" integer,
    "price_max" integer,
    "price_currency" character varying(10) DEFAULT 'DZD'::character varying,
    "portfolio_images" "text"[],
    "services" "text"[],
    "contact_email" character varying(255),
    "phone_number" character varying(20) NOT NULL,
    "contact_whatsapp" character varying(20),
    "contact_address" "text",
    "contact_website" "text",
    "social_facebook" "text",
    "social_instagram" "text",
    "social_tiktok" "text",
    "verified" boolean DEFAULT false,
    "featured" boolean DEFAULT false,
    "status" character varying(20) DEFAULT 'pending'::character varying,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "profile_picture_url" "text",
    "slug" "text",
    "wilaya_id" "uuid",
    "commune_id" "uuid",
    "willingness_to_travel" boolean DEFAULT false,
    "is_whatsapp_active" boolean DEFAULT false,
    "is_viber_active" boolean DEFAULT false,
    "main_social_link" "text",
    "website_link" "text",
    "profile_completion_score" integer DEFAULT 0,
    "provider_type" "text",
    "years_of_experience" integer DEFAULT 0,
    "moderation_status" character varying(20) DEFAULT 'approved'::character varying,
    "pending_changes" "jsonb",
    "admin_notes" "text",
    CONSTRAINT "providers_rating_check" CHECK ((("rating" >= (0)::numeric) AND ("rating" <= (5)::numeric))),
    CONSTRAINT "providers_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'active'::character varying, 'inactive'::character varying, 'suspended'::character varying])::"text"[])))
);


ALTER TABLE "public"."providers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."reviews" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "client_id" "uuid" NOT NULL,
    "provider_id" "uuid" NOT NULL,
    "booking_id" "uuid",
    "rating" integer NOT NULL,
    "title" character varying(255),
    "comment" "text" NOT NULL,
    "photos" "text"[],
    "helpful_count" integer DEFAULT 0,
    "verified" boolean DEFAULT false,
    "status" character varying(20) DEFAULT 'pending'::character varying,
    "provider_response" "text",
    "provider_responded_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "service_id" "uuid",
    CONSTRAINT "reviews_rating_check" CHECK ((("rating" >= 1) AND ("rating" <= 5))),
    CONSTRAINT "reviews_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::"text"[])))
);


ALTER TABLE "public"."reviews" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."service_categories" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(100) NOT NULL,
    "label" character varying(255) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."service_categories" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."service_category_suggestions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "category_label" character varying(255) NOT NULL,
    "item_text" character varying(255) NOT NULL,
    "is_default" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."service_category_suggestions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."service_faqs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "service_id" "uuid" NOT NULL,
    "question" "text" NOT NULL,
    "answer" "text" NOT NULL,
    "sort_order" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."service_faqs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."service_inclusions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "service_id" "uuid" NOT NULL,
    "item_text" character varying(255) NOT NULL,
    "inclusion_type" "public"."inclusion_type" DEFAULT 'included'::"public"."inclusion_type" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."service_inclusions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."service_media" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "service_id" "uuid" NOT NULL,
    "file_url" "text" NOT NULL,
    "sort_order" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."service_media" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."service_options" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "service_id" "uuid" NOT NULL,
    "title" character varying(255) NOT NULL,
    "description" "text",
    "price" numeric(12,2) DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."service_options" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."service_rating_stats" AS
 SELECT "service_id",
    "round"("avg"("rating"), 1) AS "average_rating",
    "count"(*) AS "review_count"
   FROM "public"."reviews"
  WHERE ((("status")::"text" = 'approved'::"text") AND ("service_id" IS NOT NULL))
  GROUP BY "service_id";


ALTER VIEW "public"."service_rating_stats" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."services" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "provider_id" "uuid" NOT NULL,
    "service_category_id" "uuid" NOT NULL,
    "title" character varying(255) NOT NULL,
    "description" "text",
    "base_price" numeric(12,2) DEFAULT 0 NOT NULL,
    "price_unit" "public"."service_price_unit" DEFAULT 'per_event'::"public"."service_price_unit" NOT NULL,
    "short_pitch" "text",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "moderation_status" character varying(20) DEFAULT 'approved'::character varying,
    "pending_changes" "jsonb",
    "rejection_reason" "text"
);


ALTER TABLE "public"."services" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_roles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "role" "public"."app_role" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_roles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" NOT NULL,
    "email" character varying(255) NOT NULL,
    "display_name" character varying(255) NOT NULL,
    "photo_url" "text",
    "phone_number" character varying(20),
    "email_verified" boolean DEFAULT false,
    "preferences" "jsonb" DEFAULT '{}'::"jsonb",
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "role" "public"."app_role" DEFAULT 'provider'::"public"."app_role"
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."wilayas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "code" character varying(2) NOT NULL,
    "slug" character varying(100) NOT NULL,
    "name" character varying(255) NOT NULL,
    "name_ar" character varying(255),
    "active" boolean DEFAULT true,
    "provider_count" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."wilayas" OWNER TO "postgres";


ALTER TABLE ONLY "public"."analytics_events"
    ADD CONSTRAINT "analytics_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."blog_articles"
    ADD CONSTRAINT "blog_articles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."blog_articles"
    ADD CONSTRAINT "blog_articles_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."client_waitlist"
    ADD CONSTRAINT "client_waitlist_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."client_waitlist"
    ADD CONSTRAINT "client_waitlist_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."communes"
    ADD CONSTRAINT "communes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."communes"
    ADD CONSTRAINT "communes_wilaya_id_slug_key" UNIQUE ("wilaya_id", "slug");



ALTER TABLE ONLY "public"."conversation_participants"
    ADD CONSTRAINT "conversation_participants_pkey" PRIMARY KEY ("conversation_id", "user_id");



ALTER TABLE ONLY "public"."conversations"
    ADD CONSTRAINT "conversations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."event_types"
    ADD CONSTRAINT "event_types_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."event_types"
    ADD CONSTRAINT "event_types_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."provider_events"
    ADD CONSTRAINT "provider_events_pkey" PRIMARY KEY ("provider_id", "event_type_id");



ALTER TABLE ONLY "public"."provider_services"
    ADD CONSTRAINT "provider_services_pkey" PRIMARY KEY ("provider_id", "category_id");



ALTER TABLE ONLY "public"."provider_travel_zones"
    ADD CONSTRAINT "provider_travel_zones_pkey" PRIMARY KEY ("provider_id", "wilaya_id");



ALTER TABLE ONLY "public"."provider_waitlist"
    ADD CONSTRAINT "provider_waitlist_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."provider_waitlist"
    ADD CONSTRAINT "provider_waitlist_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."providers"
    ADD CONSTRAINT "providers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."providers"
    ADD CONSTRAINT "providers_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."providers"
    ADD CONSTRAINT "providers_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_booking_id_key" UNIQUE ("booking_id");



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."service_categories"
    ADD CONSTRAINT "service_categories_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."service_categories"
    ADD CONSTRAINT "service_categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."service_category_suggestions"
    ADD CONSTRAINT "service_category_suggestions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."service_faqs"
    ADD CONSTRAINT "service_faqs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."service_inclusions"
    ADD CONSTRAINT "service_inclusions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."service_media"
    ADD CONSTRAINT "service_media_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."service_options"
    ADD CONSTRAINT "service_options_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."services"
    ADD CONSTRAINT "services_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_role_key" UNIQUE ("user_id", "role");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."wilayas"
    ADD CONSTRAINT "wilayas_code_key" UNIQUE ("code");



ALTER TABLE ONLY "public"."wilayas"
    ADD CONSTRAINT "wilayas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."wilayas"
    ADD CONSTRAINT "wilayas_slug_key" UNIQUE ("slug");



CREATE INDEX "idx_analytics_created_at" ON "public"."analytics_events" USING "btree" ("created_at");



CREATE INDEX "idx_analytics_event_type" ON "public"."analytics_events" USING "btree" ("event_type");



CREATE INDEX "idx_analytics_provider_id" ON "public"."analytics_events" USING "btree" ("provider_id");



CREATE INDEX "idx_blog_articles_category_published" ON "public"."blog_articles" USING "btree" ("category", "published_at" DESC);



CREATE INDEX "idx_blog_articles_featured" ON "public"."blog_articles" USING "btree" ("featured", "published_at" DESC) WHERE ("featured" = true);



CREATE INDEX "idx_blog_articles_slug" ON "public"."blog_articles" USING "btree" ("slug");



CREATE INDEX "idx_blog_articles_status_published" ON "public"."blog_articles" USING "btree" ("status", "published_at" DESC);



CREATE INDEX "idx_bookings_client_id" ON "public"."bookings" USING "btree" ("client_id", "status");



CREATE INDEX "idx_bookings_created_at" ON "public"."bookings" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_bookings_event_date" ON "public"."bookings" USING "btree" ("event_date");



CREATE INDEX "idx_bookings_provider_id" ON "public"."bookings" USING "btree" ("provider_id", "status");



CREATE INDEX "idx_categories_active_order" ON "public"."categories" USING "btree" ("active", "display_order");



CREATE INDEX "idx_categories_slug" ON "public"."categories" USING "btree" ("slug");



CREATE INDEX "idx_client_waitlist_created_at" ON "public"."client_waitlist" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_communes_wilaya_id" ON "public"."communes" USING "btree" ("wilaya_id");



CREATE INDEX "idx_provider_waitlist_category_wilaya" ON "public"."provider_waitlist" USING "btree" ("category", "wilaya");



CREATE INDEX "idx_provider_waitlist_status" ON "public"."provider_waitlist" USING "btree" ("status", "created_at" DESC);



CREATE INDEX "idx_providers_category_wilaya" ON "public"."providers" USING "btree" ("category", "wilaya", "status");



CREATE INDEX "idx_providers_featured" ON "public"."providers" USING "btree" ("featured", "rating" DESC) WHERE ("featured" = true);



CREATE INDEX "idx_providers_rating" ON "public"."providers" USING "btree" ("rating" DESC);



CREATE INDEX "idx_providers_status" ON "public"."providers" USING "btree" ("status", "created_at" DESC);



CREATE INDEX "idx_providers_unclaimed" ON "public"."providers" USING "btree" ("id") WHERE ("user_id" IS NULL);



CREATE INDEX "idx_providers_user_id" ON "public"."providers" USING "btree" ("user_id");



CREATE INDEX "idx_reviews_client_id" ON "public"."reviews" USING "btree" ("client_id", "created_at" DESC);



CREATE INDEX "idx_reviews_provider_id" ON "public"."reviews" USING "btree" ("provider_id", "status", "created_at" DESC);



CREATE INDEX "idx_reviews_rating" ON "public"."reviews" USING "btree" ("rating" DESC);



CREATE INDEX "idx_service_faqs_service_id" ON "public"."service_faqs" USING "btree" ("service_id");



CREATE INDEX "idx_service_inclusions_service_id" ON "public"."service_inclusions" USING "btree" ("service_id");



CREATE INDEX "idx_service_media_service_id" ON "public"."service_media" USING "btree" ("service_id");



CREATE INDEX "idx_service_options_service_id" ON "public"."service_options" USING "btree" ("service_id");



CREATE INDEX "idx_services_category_id" ON "public"."services" USING "btree" ("service_category_id");



CREATE INDEX "idx_services_provider_id" ON "public"."services" USING "btree" ("provider_id");



CREATE INDEX "idx_suggestions_category_label" ON "public"."service_category_suggestions" USING "btree" ("category_label");



CREATE INDEX "idx_users_email" ON "public"."users" USING "btree" ("email");



CREATE INDEX "idx_users_role" ON "public"."users" USING "btree" ("role");



CREATE INDEX "idx_wilayas_code" ON "public"."wilayas" USING "btree" ("code");



CREATE INDEX "idx_wilayas_slug" ON "public"."wilayas" USING "btree" ("slug");



CREATE OR REPLACE TRIGGER "trg_generate_provider_slug" BEFORE INSERT OR UPDATE OF "commercial_name" ON "public"."providers" FOR EACH ROW EXECUTE FUNCTION "public"."generate_provider_slug"();



CREATE OR REPLACE TRIGGER "trg_provider_score_sync" BEFORE INSERT OR UPDATE OF "profile_picture_url", "commercial_name", "bio", "phone_number", "wilaya_id", "main_social_link", "website_link", "provider_type", "years_of_experience", "willingness_to_travel" ON "public"."providers" FOR EACH ROW EXECUTE FUNCTION "public"."trg_fn_sync_provider_score"();



CREATE OR REPLACE TRIGGER "trg_provider_upgrade" AFTER INSERT ON "public"."providers" FOR EACH ROW EXECUTE FUNCTION "public"."handle_provider_upgrade"();



CREATE OR REPLACE TRIGGER "trg_score_sync_events" AFTER INSERT OR DELETE OR UPDATE ON "public"."provider_events" FOR EACH ROW EXECUTE FUNCTION "public"."trg_fn_junction_score_sync"();



CREATE OR REPLACE TRIGGER "trg_score_sync_services" AFTER INSERT OR DELETE OR UPDATE ON "public"."provider_services" FOR EACH ROW EXECUTE FUNCTION "public"."trg_fn_junction_score_sync"();



CREATE OR REPLACE TRIGGER "trg_score_sync_travel" AFTER INSERT OR DELETE OR UPDATE ON "public"."provider_travel_zones" FOR EACH ROW EXECUTE FUNCTION "public"."trg_fn_junction_score_sync"();



CREATE OR REPLACE TRIGGER "trg_update_profile_score" AFTER INSERT OR UPDATE OF "commercial_name", "bio", "profile_picture_url", "phone_number", "wilaya_id", "main_social_link" ON "public"."providers" FOR EACH ROW EXECUTE FUNCTION "public"."calculate_profile_score"();



CREATE OR REPLACE TRIGGER "trg_update_score_on_services" AFTER INSERT OR DELETE ON "public"."provider_services" FOR EACH ROW EXECUTE FUNCTION "public"."calculate_profile_score"();



CREATE OR REPLACE TRIGGER "update_blog_articles_updated_at" BEFORE UPDATE ON "public"."blog_articles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_bookings_updated_at" BEFORE UPDATE ON "public"."bookings" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_categories_updated_at" BEFORE UPDATE ON "public"."categories" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_conv_timestamp_trigger" AFTER INSERT ON "public"."messages" FOR EACH ROW EXECUTE FUNCTION "public"."update_conversation_timestamp"();



CREATE OR REPLACE TRIGGER "update_provider_rating_on_review" AFTER INSERT OR UPDATE OF "status" ON "public"."reviews" FOR EACH ROW WHEN ((("new"."status")::"text" = 'approved'::"text")) EXECUTE FUNCTION "public"."update_provider_rating"();



CREATE OR REPLACE TRIGGER "update_provider_waitlist_updated_at" BEFORE UPDATE ON "public"."provider_waitlist" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_providers_updated_at" BEFORE UPDATE ON "public"."providers" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_reviews_updated_at" BEFORE UPDATE ON "public"."reviews" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_services_updated_at" BEFORE UPDATE ON "public"."services" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_users_updated_at" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_wilayas_updated_at" BEFORE UPDATE ON "public"."wilayas" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."analytics_events"
    ADD CONSTRAINT "analytics_events_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."providers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."analytics_events"
    ADD CONSTRAINT "analytics_events_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "public"."services"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."providers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."communes"
    ADD CONSTRAINT "communes_wilaya_id_fkey" FOREIGN KEY ("wilaya_id") REFERENCES "public"."wilayas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."conversation_participants"
    ADD CONSTRAINT "conversation_participants_conversation_id_fkey" FOREIGN KEY ("conversation_id") REFERENCES "public"."conversations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."conversation_participants"
    ADD CONSTRAINT "conversation_participants_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_conversation_id_fkey" FOREIGN KEY ("conversation_id") REFERENCES "public"."conversations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."provider_events"
    ADD CONSTRAINT "provider_events_event_type_id_fkey" FOREIGN KEY ("event_type_id") REFERENCES "public"."event_types"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."provider_events"
    ADD CONSTRAINT "provider_events_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."providers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."provider_services"
    ADD CONSTRAINT "provider_services_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."service_categories"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."provider_services"
    ADD CONSTRAINT "provider_services_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."providers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."provider_travel_zones"
    ADD CONSTRAINT "provider_travel_zones_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."providers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."provider_travel_zones"
    ADD CONSTRAINT "provider_travel_zones_wilaya_id_fkey" FOREIGN KEY ("wilaya_id") REFERENCES "public"."wilayas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."providers"
    ADD CONSTRAINT "providers_commune_id_fkey" FOREIGN KEY ("commune_id") REFERENCES "public"."communes"("id");



ALTER TABLE ONLY "public"."providers"
    ADD CONSTRAINT "providers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."providers"
    ADD CONSTRAINT "providers_wilaya_id_fkey" FOREIGN KEY ("wilaya_id") REFERENCES "public"."wilayas"("id");



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_booking_id_fkey" FOREIGN KEY ("booking_id") REFERENCES "public"."bookings"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."providers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "public"."services"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."service_faqs"
    ADD CONSTRAINT "service_faqs_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "public"."services"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."service_inclusions"
    ADD CONSTRAINT "service_inclusions_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "public"."services"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."service_media"
    ADD CONSTRAINT "service_media_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "public"."services"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."service_options"
    ADD CONSTRAINT "service_options_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "public"."services"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."services"
    ADD CONSTRAINT "services_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."providers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."services"
    ADD CONSTRAINT "services_service_category_id_fkey" FOREIGN KEY ("service_category_id") REFERENCES "public"."service_categories"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Admins can do everything on provider_events" ON "public"."provider_events" USING ((( SELECT "users"."role"
   FROM "public"."users"
  WHERE ("users"."id" = "auth"."uid"())) = 'admin'::"public"."app_role")) WITH CHECK ((( SELECT "users"."role"
   FROM "public"."users"
  WHERE ("users"."id" = "auth"."uid"())) = 'admin'::"public"."app_role"));



CREATE POLICY "Admins can do everything on provider_services" ON "public"."provider_services" USING ((( SELECT "users"."role"
   FROM "public"."users"
  WHERE ("users"."id" = "auth"."uid"())) = 'admin'::"public"."app_role")) WITH CHECK ((( SELECT "users"."role"
   FROM "public"."users"
  WHERE ("users"."id" = "auth"."uid"())) = 'admin'::"public"."app_role"));



CREATE POLICY "Admins can do everything on provider_travel_zones" ON "public"."provider_travel_zones" USING ((( SELECT "users"."role"
   FROM "public"."users"
  WHERE ("users"."id" = "auth"."uid"())) = 'admin'::"public"."app_role")) WITH CHECK ((( SELECT "users"."role"
   FROM "public"."users"
  WHERE ("users"."id" = "auth"."uid"())) = 'admin'::"public"."app_role"));



CREATE POLICY "Admins can manage all articles" ON "public"."blog_articles" TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role")) WITH CHECK ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can manage all bookings" ON "public"."bookings" TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role")) WITH CHECK ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can manage all providers" ON "public"."providers" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "Admins can manage all reviews" ON "public"."reviews" TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role")) WITH CHECK ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can manage all roles" ON "public"."user_roles" TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role")) WITH CHECK ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can manage all services" ON "public"."services" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "Admins can manage categories" ON "public"."categories" TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role")) WITH CHECK ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can manage wilayas" ON "public"."wilayas" TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role")) WITH CHECK ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can view all analytics" ON "public"."analytics_events" FOR SELECT TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "Admins can view all client waitlist entries" ON "public"."client_waitlist" FOR SELECT TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can view all support conversations" ON "public"."conversations" USING ((("type" = 'support'::"public"."conversation_type") AND "public"."is_admin"()));



CREATE POLICY "Admins can view all users" ON "public"."users" FOR SELECT TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "Admins can view and manage provider waitlist" ON "public"."provider_waitlist" TO "authenticated" USING ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role")) WITH CHECK ("public"."has_role"("auth"."uid"(), 'admin'::"public"."app_role"));



CREATE POLICY "Admins can view support messages" ON "public"."messages" FOR SELECT USING (((EXISTS ( SELECT 1
   FROM "public"."conversations" "c"
  WHERE (("c"."id" = "messages"."conversation_id") AND ("c"."type" = 'support'::"public"."conversation_type")))) AND "public"."is_admin"()));



CREATE POLICY "Admins can view support participants" ON "public"."conversation_participants" FOR SELECT USING ("public"."is_admin"());



CREATE POLICY "Allow public tracking inserts" ON "public"."analytics_events" FOR INSERT TO "authenticated", "anon" WITH CHECK (true);



CREATE POLICY "Anyone can insert into client waitlist" ON "public"."client_waitlist" FOR INSERT TO "authenticated", "anon" WITH CHECK (true);



CREATE POLICY "Anyone can insert into provider waitlist" ON "public"."provider_waitlist" FOR INSERT TO "authenticated", "anon" WITH CHECK (true);



CREATE POLICY "Anyone can view active categories" ON "public"."categories" FOR SELECT TO "authenticated", "anon" USING (("active" = true));



CREATE POLICY "Anyone can view active providers" ON "public"."providers" FOR SELECT TO "authenticated", "anon" USING ((("status")::"text" = 'active'::"text"));



CREATE POLICY "Anyone can view active services" ON "public"."services" FOR SELECT USING (("is_active" = true));



CREATE POLICY "Anyone can view active wilayas" ON "public"."wilayas" FOR SELECT TO "authenticated", "anon" USING (("active" = true));



CREATE POLICY "Anyone can view approved reviews" ON "public"."reviews" FOR SELECT TO "authenticated", "anon" USING ((("status")::"text" = 'approved'::"text"));



CREATE POLICY "Anyone can view published articles" ON "public"."blog_articles" FOR SELECT TO "authenticated", "anon" USING ((("status")::"text" = 'published'::"text"));



CREATE POLICY "Anyone can view service category suggestions" ON "public"."service_category_suggestions" FOR SELECT USING (true);



CREATE POLICY "Clients and providers can update their bookings" ON "public"."bookings" FOR UPDATE TO "authenticated" USING ((("client_id" = "auth"."uid"()) OR ("provider_id" IN ( SELECT "providers"."id"
   FROM "public"."providers"
  WHERE ("providers"."user_id" = "auth"."uid"())))));



CREATE POLICY "Clients can create bookings" ON "public"."bookings" FOR INSERT TO "authenticated" WITH CHECK (("client_id" = "auth"."uid"()));



CREATE POLICY "Clients can create reviews" ON "public"."reviews" FOR INSERT TO "authenticated" WITH CHECK (("client_id" = "auth"."uid"()));



CREATE POLICY "Clients can view their own bookings" ON "public"."bookings" FOR SELECT TO "authenticated" USING (("client_id" = "auth"."uid"()));



CREATE POLICY "Clients can view their own reviews" ON "public"."reviews" FOR SELECT TO "authenticated" USING (("client_id" = "auth"."uid"()));



CREATE POLICY "Providers can create their profile" ON "public"."providers" FOR INSERT TO "authenticated" WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Providers can manage their own events" ON "public"."provider_events" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "provider_events"."provider_id") AND ("providers"."user_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "provider_events"."provider_id") AND ("providers"."user_id" = "auth"."uid"())))));



CREATE POLICY "Providers can manage their own services" ON "public"."provider_services" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "provider_services"."provider_id") AND ("providers"."user_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "provider_services"."provider_id") AND ("providers"."user_id" = "auth"."uid"())))));



CREATE POLICY "Providers can manage their own services" ON "public"."services" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "services"."provider_id") AND ("providers"."user_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "services"."provider_id") AND ("providers"."user_id" = "auth"."uid"())))));



CREATE POLICY "Providers can manage their own travel zones" ON "public"."provider_travel_zones" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "provider_travel_zones"."provider_id") AND ("providers"."user_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."providers"
  WHERE (("providers"."id" = "provider_travel_zones"."provider_id") AND ("providers"."user_id" = "auth"."uid"())))));



CREATE POLICY "Providers can update their own profile" ON "public"."providers" FOR UPDATE TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Providers can view reviews about them" ON "public"."reviews" FOR SELECT TO "authenticated" USING (("provider_id" IN ( SELECT "providers"."id"
   FROM "public"."providers"
  WHERE ("providers"."user_id" = "auth"."uid"()))));



CREATE POLICY "Providers can view their bookings" ON "public"."bookings" FOR SELECT TO "authenticated" USING (("provider_id" IN ( SELECT "providers"."id"
   FROM "public"."providers"
  WHERE ("providers"."user_id" = "auth"."uid"()))));



CREATE POLICY "Providers can view their own analytics" ON "public"."analytics_events" FOR SELECT TO "authenticated" USING (("provider_id" IN ( SELECT "providers"."id"
   FROM "public"."providers"
  WHERE ("providers"."user_id" = "auth"."uid"()))));



CREATE POLICY "Providers can view their own profile" ON "public"."providers" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Service owners can manage faqs" ON "public"."service_faqs" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."services" "s"
     JOIN "public"."providers" "p" ON (("s"."provider_id" = "p"."id")))
  WHERE (("s"."id" = "service_faqs"."service_id") AND ("p"."user_id" = "auth"."uid"())))));



CREATE POLICY "Service owners can manage inclusions" ON "public"."service_inclusions" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."services" "s"
     JOIN "public"."providers" "p" ON (("s"."provider_id" = "p"."id")))
  WHERE (("s"."id" = "service_inclusions"."service_id") AND ("p"."user_id" = "auth"."uid"())))));



CREATE POLICY "Service owners can manage media" ON "public"."service_media" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."services" "s"
     JOIN "public"."providers" "p" ON (("s"."provider_id" = "p"."id")))
  WHERE (("s"."id" = "service_media"."service_id") AND ("p"."user_id" = "auth"."uid"())))));



CREATE POLICY "Service owners can manage options" ON "public"."service_options" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."services" "s"
     JOIN "public"."providers" "p" ON (("s"."provider_id" = "p"."id")))
  WHERE (("s"."id" = "service_options"."service_id") AND ("p"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can create conversations" ON "public"."conversations" FOR INSERT WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Users can insert messages" ON "public"."messages" FOR INSERT WITH CHECK ((("conversation_id" IN ( SELECT "conversation_participants"."conversation_id"
   FROM "public"."conversation_participants"
  WHERE ("conversation_participants"."user_id" = "auth"."uid"()))) OR ("public"."is_admin"() AND (EXISTS ( SELECT 1
   FROM "public"."conversations" "c"
  WHERE (("c"."id" = "messages"."conversation_id") AND ("c"."type" = 'support'::"public"."conversation_type")))))));



CREATE POLICY "Users can insert participants" ON "public"."conversation_participants" FOR INSERT WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Users can update their own profile" ON "public"."users" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can view messages" ON "public"."messages" FOR SELECT USING (("conversation_id" IN ( SELECT "conversation_participants"."conversation_id"
   FROM "public"."conversation_participants"
  WHERE ("conversation_participants"."user_id" = "auth"."uid"()))));



CREATE POLICY "Users can view own participant rows" ON "public"."conversation_participants" FOR SELECT USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can view their conversations" ON "public"."conversations" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."conversation_participants" "cp"
  WHERE (("cp"."conversation_id" = "conversations"."id") AND ("cp"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can view their own profile" ON "public"."users" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view their own roles" ON "public"."user_roles" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."analytics_events" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."blog_articles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."bookings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."client_waitlist" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."conversation_participants" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."conversations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."messages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."provider_events" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."provider_services" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."provider_travel_zones" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."provider_waitlist" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."providers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."reviews" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."service_category_suggestions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."service_faqs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."service_inclusions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."service_media" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."service_options" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."services" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_roles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."wilayas" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."approve_provider_changes"("target_provider_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."approve_provider_changes"("target_provider_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."approve_provider_changes"("target_provider_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."approve_service_changes"("target_service_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."approve_service_changes"("target_service_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."approve_service_changes"("target_service_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."calculate_profile_score"() TO "anon";
GRANT ALL ON FUNCTION "public"."calculate_profile_score"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."calculate_profile_score"() TO "service_role";



GRANT ALL ON FUNCTION "public"."check_user_exists"("email_to_check" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."check_user_exists"("email_to_check" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."check_user_exists"("email_to_check" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."create_partner_user"("email" "text", "password" "text", "full_name" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."create_partner_user"("email" "text", "password" "text", "full_name" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_partner_user"("email" "text", "password" "text", "full_name" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."delete_conversation"("target_conversation_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."delete_conversation"("target_conversation_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."delete_conversation"("target_conversation_id" "uuid") TO "service_role";



REVOKE ALL ON FUNCTION "public"."delete_user_account"() FROM PUBLIC;
GRANT ALL ON FUNCTION "public"."delete_user_account"() TO "anon";
GRANT ALL ON FUNCTION "public"."delete_user_account"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."delete_user_account"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_calculate_completion_score"("p_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."fn_calculate_completion_score"("p_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_calculate_completion_score"("p_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_compute_score_from_data"("p_profile_picture_url" "text", "p_commercial_name" "text", "p_bio" "text", "p_phone_number" "text", "p_wilaya_id" "uuid", "p_main_social_link" "text", "p_website_link" "text", "p_provider_type" "text", "p_years_of_experience" integer, "p_willingness_to_travel" boolean, "p_provider_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."fn_compute_score_from_data"("p_profile_picture_url" "text", "p_commercial_name" "text", "p_bio" "text", "p_phone_number" "text", "p_wilaya_id" "uuid", "p_main_social_link" "text", "p_website_link" "text", "p_provider_type" "text", "p_years_of_experience" integer, "p_willingness_to_travel" boolean, "p_provider_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_compute_score_from_data"("p_profile_picture_url" "text", "p_commercial_name" "text", "p_bio" "text", "p_phone_number" "text", "p_wilaya_id" "uuid", "p_main_social_link" "text", "p_website_link" "text", "p_provider_type" "text", "p_years_of_experience" integer, "p_willingness_to_travel" boolean, "p_provider_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_provider_slug"() TO "anon";
GRANT ALL ON FUNCTION "public"."generate_provider_slug"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_provider_slug"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_admin_platform_stats"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_admin_platform_stats"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_admin_platform_stats"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_dashboard_stats"("p_provider_id" "uuid", "p_days_ago" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_dashboard_stats"("p_provider_id" "uuid", "p_days_ago" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_dashboard_stats"("p_provider_id" "uuid", "p_days_ago" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_provider_stats"("provider_uuid" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_provider_stats"("provider_uuid" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_provider_stats"("provider_uuid" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_provider_upgrade"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_provider_upgrade"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_provider_upgrade"() TO "service_role";



GRANT ALL ON FUNCTION "public"."has_role"("_user_id" "uuid", "_role" "public"."app_role") TO "anon";
GRANT ALL ON FUNCTION "public"."has_role"("_user_id" "uuid", "_role" "public"."app_role") TO "authenticated";
GRANT ALL ON FUNCTION "public"."has_role"("_user_id" "uuid", "_role" "public"."app_role") TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."reject_provider_changes"("target_provider_id" "uuid", "reason" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."reject_provider_changes"("target_provider_id" "uuid", "reason" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."reject_provider_changes"("target_provider_id" "uuid", "reason" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."reject_service_changes"("target_service_id" "uuid", "reason" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."reject_service_changes"("target_service_id" "uuid", "reason" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."reject_service_changes"("target_service_id" "uuid", "reason" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."search_providers"("search_query" "text", "filter_category" "text", "filter_wilaya" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."search_providers"("search_query" "text", "filter_category" "text", "filter_wilaya" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."search_providers"("search_query" "text", "filter_category" "text", "filter_wilaya" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."start_support_conversation"("subject" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."start_support_conversation"("subject" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."start_support_conversation"("subject" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."track_event"("p_provider_id" "uuid", "p_event_type" "public"."event_type", "p_service_id" "uuid", "p_visitor_id" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."track_event"("p_provider_id" "uuid", "p_event_type" "public"."event_type", "p_service_id" "uuid", "p_visitor_id" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."track_event"("p_provider_id" "uuid", "p_event_type" "public"."event_type", "p_service_id" "uuid", "p_visitor_id" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."trg_fn_junction_score_sync"() TO "anon";
GRANT ALL ON FUNCTION "public"."trg_fn_junction_score_sync"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trg_fn_junction_score_sync"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trg_fn_sync_provider_score"() TO "anon";
GRANT ALL ON FUNCTION "public"."trg_fn_sync_provider_score"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trg_fn_sync_provider_score"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_conversation_timestamp"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_conversation_timestamp"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_conversation_timestamp"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_provider_rating"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_provider_rating"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_provider_rating"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON TABLE "public"."analytics_events" TO "anon";
GRANT ALL ON TABLE "public"."analytics_events" TO "authenticated";
GRANT ALL ON TABLE "public"."analytics_events" TO "service_role";



GRANT ALL ON TABLE "public"."blog_articles" TO "anon";
GRANT ALL ON TABLE "public"."blog_articles" TO "authenticated";
GRANT ALL ON TABLE "public"."blog_articles" TO "service_role";



GRANT ALL ON TABLE "public"."bookings" TO "anon";
GRANT ALL ON TABLE "public"."bookings" TO "authenticated";
GRANT ALL ON TABLE "public"."bookings" TO "service_role";



GRANT ALL ON TABLE "public"."categories" TO "anon";
GRANT ALL ON TABLE "public"."categories" TO "authenticated";
GRANT ALL ON TABLE "public"."categories" TO "service_role";



GRANT ALL ON TABLE "public"."client_waitlist" TO "anon";
GRANT ALL ON TABLE "public"."client_waitlist" TO "authenticated";
GRANT ALL ON TABLE "public"."client_waitlist" TO "service_role";



GRANT ALL ON TABLE "public"."communes" TO "anon";
GRANT ALL ON TABLE "public"."communes" TO "authenticated";
GRANT ALL ON TABLE "public"."communes" TO "service_role";



GRANT ALL ON TABLE "public"."conversation_participants" TO "anon";
GRANT ALL ON TABLE "public"."conversation_participants" TO "authenticated";
GRANT ALL ON TABLE "public"."conversation_participants" TO "service_role";



GRANT ALL ON TABLE "public"."conversations" TO "anon";
GRANT ALL ON TABLE "public"."conversations" TO "authenticated";
GRANT ALL ON TABLE "public"."conversations" TO "service_role";



GRANT ALL ON TABLE "public"."event_types" TO "anon";
GRANT ALL ON TABLE "public"."event_types" TO "authenticated";
GRANT ALL ON TABLE "public"."event_types" TO "service_role";



GRANT ALL ON TABLE "public"."messages" TO "anon";
GRANT ALL ON TABLE "public"."messages" TO "authenticated";
GRANT ALL ON TABLE "public"."messages" TO "service_role";



GRANT ALL ON TABLE "public"."provider_events" TO "anon";
GRANT ALL ON TABLE "public"."provider_events" TO "authenticated";
GRANT ALL ON TABLE "public"."provider_events" TO "service_role";



GRANT ALL ON TABLE "public"."provider_services" TO "anon";
GRANT ALL ON TABLE "public"."provider_services" TO "authenticated";
GRANT ALL ON TABLE "public"."provider_services" TO "service_role";



GRANT ALL ON TABLE "public"."provider_travel_zones" TO "anon";
GRANT ALL ON TABLE "public"."provider_travel_zones" TO "authenticated";
GRANT ALL ON TABLE "public"."provider_travel_zones" TO "service_role";



GRANT ALL ON TABLE "public"."provider_waitlist" TO "anon";
GRANT ALL ON TABLE "public"."provider_waitlist" TO "authenticated";
GRANT ALL ON TABLE "public"."provider_waitlist" TO "service_role";



GRANT ALL ON TABLE "public"."providers" TO "anon";
GRANT ALL ON TABLE "public"."providers" TO "authenticated";
GRANT ALL ON TABLE "public"."providers" TO "service_role";



GRANT ALL ON TABLE "public"."reviews" TO "anon";
GRANT ALL ON TABLE "public"."reviews" TO "authenticated";
GRANT ALL ON TABLE "public"."reviews" TO "service_role";



GRANT ALL ON TABLE "public"."service_categories" TO "anon";
GRANT ALL ON TABLE "public"."service_categories" TO "authenticated";
GRANT ALL ON TABLE "public"."service_categories" TO "service_role";



GRANT ALL ON TABLE "public"."service_category_suggestions" TO "anon";
GRANT ALL ON TABLE "public"."service_category_suggestions" TO "authenticated";
GRANT ALL ON TABLE "public"."service_category_suggestions" TO "service_role";



GRANT ALL ON TABLE "public"."service_faqs" TO "anon";
GRANT ALL ON TABLE "public"."service_faqs" TO "authenticated";
GRANT ALL ON TABLE "public"."service_faqs" TO "service_role";



GRANT ALL ON TABLE "public"."service_inclusions" TO "anon";
GRANT ALL ON TABLE "public"."service_inclusions" TO "authenticated";
GRANT ALL ON TABLE "public"."service_inclusions" TO "service_role";



GRANT ALL ON TABLE "public"."service_media" TO "anon";
GRANT ALL ON TABLE "public"."service_media" TO "authenticated";
GRANT ALL ON TABLE "public"."service_media" TO "service_role";



GRANT ALL ON TABLE "public"."service_options" TO "anon";
GRANT ALL ON TABLE "public"."service_options" TO "authenticated";
GRANT ALL ON TABLE "public"."service_options" TO "service_role";



GRANT ALL ON TABLE "public"."service_rating_stats" TO "anon";
GRANT ALL ON TABLE "public"."service_rating_stats" TO "authenticated";
GRANT ALL ON TABLE "public"."service_rating_stats" TO "service_role";



GRANT ALL ON TABLE "public"."services" TO "anon";
GRANT ALL ON TABLE "public"."services" TO "authenticated";
GRANT ALL ON TABLE "public"."services" TO "service_role";



GRANT ALL ON TABLE "public"."user_roles" TO "anon";
GRANT ALL ON TABLE "public"."user_roles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_roles" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."wilayas" TO "anon";
GRANT ALL ON TABLE "public"."wilayas" TO "authenticated";
GRANT ALL ON TABLE "public"."wilayas" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







